<div class="row col-12 pt-5 mx-0">
	<a asp-action="@ViewData["btnAction"]" asp-controller="@ViewData["btnController"]" class="btn btn-secondary ms-auto">@_t.T("controls_cancel")</a>
	<input type="submit" value="@_t.T("controls_save")" class="btn btn-primary ms-5" />
</div>