@font-face {
    font-family: "Bebas Neue";
    font-weight: 400;
    src:
        local("Bebas Neue"),
        url("../fonts/BebasNeue/bebasneue_regular-webfont.eot"),
        url("../fonts/BebasNeue/bebasneue_regular-webfont.ttf");
}

@font-face {
    font-family: "Bebas Neue Bold";
    font-weight: 700;
    src:
        local("Bebas Neue"),
        url("../fonts/BebasNeue/bebasneue_bold-webfont.eot"),
        url("../fonts/BebasNeue/bebasneue_bold-webfont.ttf");
}

@font-face {
    font-family: "FuturaPT";
    src:
        local("Bebas Neue"),
        url("../fonts/FuturaPT/3177D3_0_0.eot"),
        url("../fonts/FuturaPT/3177D3_0_0.ttf");
}

@font-face {
    font-family: "FuturaPT Bold";
    src:
        local("Bebas Neue"),
        url("../fonts/FuturaPT/3177D3_1_0.eot"),
        url("../fonts/FuturaPT/3177D3_1_0.ttf");
}
