<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    @await Html.PartialAsync("Global/_Head")
</head>
<body>
    @await Html.PartialAsync("Global/_Header")

    @if (ViewData["alert"] != null)
    {
        <div class="container">
            @await Html.PartialAsync("Components/_Alert", ViewData["alert"])
        </div>
    }
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("Global/_Footer")

    @await Html.PartialAsync("Global/_Scripts")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>